.container {
    background-color: #1F2833;
    width: 100vw;
    height: 9vh;
    justify-content: center;
    
}

.navbar {
    width: 1500px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    width: 9vw;
    height: 6vh;
    background-color: #45A29E;
    border: none;
    border-radius: 0.25em;
    font-size: 1rem;
    color: #fff;
    padding: 1.25em 0;
    cursor: pointer;
    align-content: center;
}

