.container {
    background-color: #1F2833;
    width: 100vw;
    height: 9vh;
    justify-content: center;
    
}

.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    min-width: 22px;
    min-height: 11px;
    max-width: 150px;
    max-height: 70px;
    width: 9vw;
    height: 7vh;
    background-color: #45A29E;
    border: none;
    border-radius: 0.25em;
    color: #fff;
    padding: 1.25em 0;
    cursor: pointer;
    align-content: center;
}

